body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: grid;
    row-gap: 5rem;
    column-gap: 2rem;
    grid-template-columns: 1fr minmax(15rem, 30rem) 1fr;
}

.container {
    grid-column: 2 / 3 ;
    margin-top: 3rem;
    padding: 3rem;
    text-align:center;
    background: #ccc;
    border-radius: 4px;
}

.search__box {
    padding: .5rem 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -2rem;
    width: 75%;
}

.search__box::placeholder{
    color: #ccc;
}

.search__box:focus {
    box-shadow: 0 1px 5px rgba(0,0,0, .8);
}

.search__button {
    outline: none;
    border: none;
    background: none;
}

.search__icon {
    transform: scale(1.5, 1.5) translateY(2px);
    color: #ccc;
    cursor: pointer;
}

.search__icon:hover {
    color: rgb(139, 138, 138);
}

.search__button:active {
    transform: translateY(3px);
}



/***************************************8
* SEARCHBOX TYPE 2 - Expand of focus
*/

.container2 {
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    background: #ccc;
    border-radius: 4px;
}

.search__box2 {
    padding: .5rem 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -2rem;
    width: 65%;
    box-shadow: 0 1px 5px rgba(0,0,0, .8);
    transition: all .2s;
}

.search__box2::placeholder{
    color: #ccc;
}

.search__box2:focus {
    width: 75%;
}

.search__button2 {
    outline: none;
    border: none;
    background: none;
    transition: all .2s;
}

.search__icon2 {
    transform: scale(1.5, 1.5) translateY(2px);
    color: #ccc;
    cursor: pointer;
}

.search__icon2:hover {
    color: rgb(139, 138, 138);
}

.search__button2:active {
    transform: translateY(3px);
}




/***************************************8
* SEARCHBOX TYPE 3
*/
.container3 {
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    border-radius: 4px;
   /* background-image: linear-gradient(to right bottom, #ec8b8b, #e76969, #e74c3c); */

   background-image: linear-gradient(to right bottom, #ed7669, #ed7669, #e53e2d); 
}

.search__box3 {
    padding: .5rem 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -2rem;
    width: 75%;
    box-shadow: 0 1px 5px rgba(0,0,0, .8);
    background-color: #2c3e50;
    color: rgb(211, 207, 207);
    transition: all .2s;
}

.search__box3::placeholder{
    color: rgb(138, 136, 136);
}

.search__button3 {
    outline: none;
    border: none;
    background: none;
    transition: all .2s;
}

.search__icon3 {
    transform: scale(1.5, 1.5) translateY(2px);
    color: #ccc;
    cursor: pointer;
}

.search__icon3:hover {
    color: #fff;
}

.search__button3:active {
    transform: translateY(3px);
}



/******************************
* SEARCHBOX 4
*/

.container4 {
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    border-radius: 4px;
    background: #d3d3d3; /* #474747; */
}

.search__box4 {
    padding: 1rem 1.5rem 1rem 3rem;
    width: 0;
    opacity: 0;
    z-index: 1;

    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -3rem;
    background-color: #2c3e50;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    color: white;
    transition: all .8s;
    z-index: -1;
}

.search__box4::placeholder{
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.search__box4:focus {
    width: 45%;
    opacity: 1;
    z-index: -1;
}

.search__button4 {
    outline: none;
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: crimson;
    box-shadow: 0 2px 2px 2px rgba(0,0,0, .2);
    transition: all .8s;
    transform: translateY(6px);
    z-index: 10;
    position: relative;
    margin-right: -40px;
}

.search__icon4 {
    width: 30px;
    height: 30px;
    fill: #fff;
    cursor: pointer;
}

.search__icon4:hover {
    fill: #fff;
}
.search__button4:hover {
    filter: brightness(95%) saturate(95%);
}

.search__button4:focus ~ .search__box4 {
    width: 45%;
    opacity: 1;
    z-index: 1;
}
