body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: grid;
    row-gap: 5rem;
    column-gap: 2rem;
    grid-template-columns: 1fr minmax(15rem, 30rem) 1fr;
}

body:last-child {
    margin-bottom: 3rem;
}

.container {
    margin-top: 3rem;
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    background: #ccc;
    border-radius: 4px;
}

.search__box {
    padding: .5rem 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -2rem;
    width: 75%;
}

.search__box::placeholder{
    color: #ccc;
}

.search__box:focus {
    box-shadow: 0 1px 5px rgba(0,0,0, .8);
}

.search__button {
    outline: none;
    border: none;
    background: none;
}

.search__icon {
    transform: scale(1.5, 1.5) translateY(2px);
    color: #ccc;
    cursor: pointer;
}

.search__icon:hover {
    color: rgb(139, 138, 138);
}

.search__button:active {
    transform: translateY(3px);
}



/***************************************8
* SEARCHBOX TYPE 2 - Expand of focus
*/

.container2 {
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    background: #ccc;
    border-radius: 4px;
}

.search__box2 {
    padding: .5rem 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -2rem;
    width: 65%;
    box-shadow: 0 1px 5px rgba(0,0,0, .8);
    transition: all .2s;
}

.search__box2::placeholder{
    color: #ccc;
}

.search__box2:focus {
    width: 75%;
}

.search__button2 {
    outline: none;
    border: none;
    background: none;
    transition: all .2s;
}

.search__icon2 {
    transform: scale(1.5, 1.5) translateY(2px);
    color: #ccc;
    cursor: pointer;
}

.search__icon2:hover {
    color: rgb(139, 138, 138);
}

.search__button2:active {
    transform: translateY(3px);
}




/***************************************8
* SEARCHBOX TYPE 3
*/
.container3 {
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    border-radius: 4px;
   /* background-image: linear-gradient(to right bottom, #ec8b8b, #e76969, #e74c3c); */

   background-image: linear-gradient(to right bottom, #ed7669, #ed7669, #e53e2d); 
}

.search__box3 {
    padding: .5rem 1rem;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -2rem;
    width: 75%;
    box-shadow: 0 1px 5px rgba(0,0,0, .8);
    background-color: #2c3e50;
    color: rgb(211, 207, 207);
    transition: all .2s;
}

.search__box3::placeholder{
    color: rgb(138, 136, 136);
}

.search__button3 {
    outline: none;
    border: none;
    background: none;
    transition: all .2s;
}

.search__icon3 {
    transform: scale(1.5, 1.5) translateY(2px);
    color: #ccc;
    cursor: pointer;
}

.search__icon3:hover {
    color: #fff;
}

.search__button3:active {
    transform: translateY(3px);
}



/******************************
* SEARCHBOX 4
*/

.container4 {
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    border-radius: 4px;
    background: #d3d3d3; /* #474747; */
}

.search__box4 {
    padding: 1rem 1.5rem 1rem 3rem;
    width: 0;
    opacity: 0;
    z-index: 1;

    border: none;
    border-radius: 100px;
    outline: none;
    margin-right: -3rem;
    background-color: #2c3e50;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    color: white;
    transition: all .8s;
    z-index: -1;
}

.search__box4::placeholder{
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.search__box4:focus {
    width: 45%;
    opacity: 1;
    z-index: -1;
}

.search__button4 {
    outline: none;
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: crimson;
    box-shadow: 0 2px 2px 2px rgba(0,0,0, .2);
    transition: all .8s;
    transform: translateY(6px);
    z-index: 10;
    position: relative;
    margin-right: -40px;
}

.search__icon4 {
    width: 30px;
    height: 30px;
    fill: #fff;
    cursor: pointer;
}

.search__icon4:hover {
    fill: #fff;
}
.search__button4:hover {
    filter: brightness(95%) saturate(95%);
}

.search__button4:focus ~ .search__box4 {
    width: 45%;
    opacity: 1;
    z-index: 1;
}



/******************************
* SEARCHBOX 5
  The idea here is on click of the search button/div, the textbox should expand on left 
  and searchdiv should shift to right.
  The search symbol is created with pure css, this is not any actual icon.
  This is because on click of the search div we want to show a 'cross' instead of 'search' symbol
  and with pure css implementation, the transition looks beautiful.
*/

/* Basic container configuration */
.container5 {
    grid-column: 2 / 3 ;
    padding: 3rem;
    text-align:center;
    border-radius: 4px;
    background: #d3d3d3;
}

/* Search input box 
   searchbox initial state - 
        the opacity is 0 and searchbox is on top of the searchdiv button.
        This is imp to be on top of searchdiv because if we put searchdiv on top of inputbox
        then there is no easy way to style 'previous' sibling.
   on searchbox hover -
        we show pointer cursor, but still the opacity is 0, so user thinks that he is click on the searchdiv :)
   on searchbox focus -
        we change the cursor to text. and put the searchdiv on top of the searchbox. :) */
.search__input5 {
    
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    margin-right: -65px;

    width: 55px;
    height: 50px;
    /*padding: 0 80px 0 20px;*/
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    opacity: 0; /* intial state */
    z-index: 5; /* initial state - to be on top of searchdiv */
    position: relative;
    transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
}
.search__input5:hover {
    cursor: pointer; /* on searchbox hover - we show pointer cursor, but still the opacity is 0, 
                        so user thinks that he is click on the searchdiv */
} 
.search__input5:focus {
    width: 120px;
    padding: 1px 80px 1px 20px;
    opacity: 1; /* make the input box visible */
    cursor: text;   /* change the cursor to text */
}

.search__input5:focus ~ .search__div5 {
    z-index: 6; /* put the searchdiv on top of the searchbox. :) */
    background-color: #151515; /* change background color of the searchdiv */
}
.search__input5:focus ~ .search__div5::before {
    z-index: 6; /* put the searchdiv on top of the searchbox. :) */
    background-color: #fff;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 27px;
    left: 20px;
    border-radius: 0;
    border: none;
    transform: rotate(-45deg);
}
.search__input5:focus ~ .search__div5::after {
    z-index: 6; /* put the searchdiv on top of the searchbox. :) */
    background-color: #fff;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 27px;
    left: 20px;
    border-radius: 0;
    border: none;
}

.search__input5::placeholder {
    color: white;
    opacity: 0.5;
  }

  /* searchdiv initial state */
.search__div5 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: crimson;
    transform: translateY(25px);
    cursor: pointer;

    z-index: 4;
    position: relative;
    transition: all 1s;
}

/* draw a circle within the searchdiv */
.search__div5::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 13px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .5s;
}

/* draw a line within the searchdiv and position is in such a way that it 'creates' search/maginifier symbol. */
.search__div5::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 36px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    transition: all .5s;
}
