/*
    This is a sample login page with Floating labels for the input text boxes.
    At start, you see the placeholders for both Username and Password textboxes,
    and as soon as you start typing, the placeholder label magically shifts 
    before it's respective textbox. Also if the textbox is empty, the label just disappers.
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    height: 100vh; /* for linear gradient to work on <body>, we need to specify height for the body element */
    background-image: linear-gradient(#ee9ca79f, #ffdde1be), url(background.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr minmax(15rem, 50rem) 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
}


.container {
    
    margin-top: 4rem;
    grid-column: 2 /3 ;
    grid-row: 2 / 3 ;

    border: 1px solid #ccc;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    border-radius: 10px;
    padding: 3rem;

    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    margin-bottom: 3.5rem;
    color: rgb(85, 83, 83);
}

.form__input-box > * {
    display: block;    
}

.form__input-box {
    margin-bottom: 2rem;
}

.form__input-box label {
    margin-bottom: .4rem;
    color: rgb(85, 83, 83);
    /* placeolder shown */
    transform: translate(0, -6rem);
    opacity: 1;
    transition: all .4s;
}

.form__input-box input {
    font-family: sans-serif;
    font-size: 1.4rem;
    
    padding: 1rem 1.6rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.25);
    border: 1px solid transparent; /* IMP: since we are using border on :focus, you may see minor shake without this line*/
}

.form__input-box input:focus {
    outline: none;
    border: 1px solid rgb(68, 67, 67);
}

.form__input-box input:placeholder-shown + label {
    transform: translate(1.7rem, -2.5rem);
    opacity: 0;
}

.btn-box {
    width: 100%;
    text-align: center;
}

.btn {
    border: none;
    border-radius: 100px;
    outline: none;
    padding: 1rem 2rem;
    width: 45%;
    font-size: 1.5rem;
    /*background-color:  rgb(24, 67, 124, .8);*/
    background-image: linear-gradient(to right, #dd374d, #ff6678);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    color: #fff;

    transition: all .2s;
    backface-visibility: hidden; /* to avoid slight blurrs due to transforms */
}

.btn:hover,
.btn:active {
    background-color: rgb(24, 67, 124);
}

.btn:active {
    transform: translateY(3px);
}

/* FOR RESPONSIVE DESIGN */
@media only screen and (max-width: 500px) {
    body {
        grid-template-columns: 1fr 18fr 1fr;
        grid-template-rows: 1fr minmax(350px, 1fr) 1fr;
    }
}